/* ========================
   Language Selector Layout
   ========================*/
#LanguageSelector {
  position: relative;
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: "robotocondensed", sans-serif;
  font-weight: bold;
  color: var(--normalcolorwhite);
  font-size: 16px;
  z-index: 1000;
}

.language-dropdown {
  position: relative;
  font-family: "robotocondensed", sans-serif;
}

.language-button {
  background-color:  var(--background-transparent);
  color:  var(--normalcolorwhite);
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}

.language-button .arrow {
  margin-left: 8px;
  font-size: 12px;
}

.language-list {
  display: none;
  margin-top: 5px;
  background-color: var(--normalcolorwhite);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px var(--normalcolorblack);
}

.language-list.show {
  display: block;
}

.language-list a {
  display: block;
  padding: 8px 12px;
  color: var(--normalcolorblack);
  text-decoration: none;
  font-size: 14px;
}

.language-list a:hover {
  background-color: var(--normalcolorwhite)
}